<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SoapRequestTimeoutInMilliseconds" value="100000"/>
		<add key="WebRequestTimeoutInMilliseconds" value="100000"/>

		<add key="PubSubDownloadURL" value="http://abr.business.gov.au/abrxmlpubsub/abrfiledownload.aspx"/>
		<add key="RPC.ABRXMLSearchURL" value="https://abr.business.gov.au/ABRXMLSearchRPC/ABRXMLSearch.asmx"/>
		<add key="Document.ABRXMLSearchURL" value="https://abr.business.gov.au/ABRXMLSearch/ABRXMLSearch.asmx"/>

		<add key="RPC.SoapAction.ABNSearch" value="http://abr.business.gov.au/ABRXMLSearchRPC/ABRSearchByABN"/>
		<add key="RPC.SoapAction.ASICSearch" value="http://abr.business.gov.au/ABRXMLSearchRPC/ABRSearchByASIC"/>
		<add key="RPC.SoapAction.NameSearch" value="http://abr.business.gov.au/ABRXMLSearchRPC/ABRSearchByName"/>
		
		<add key="Document.SoapAction.ABNSearch" value="http://abr.business.gov.au/ABRXMLSearch/ABRSearchByABN"/>
		<add key="Document.SoapAction.ASICSearch" value="http://abr.business.gov.au/ABRXMLSearch/ABRSearchByASIC"/>
		<add key="Document.SoapAction.NameSearch" value="http://abr.business.gov.au/ABRXMLSearch/ABRSearchByName"/>

		
	</appSettings>
</configuration>
