<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
      <add key="RequestTimeoutInMilliseconds" value="100000" />
      <add key="Proxy" value="" />
      <add key="Guid" value="enter-your-guid-here" />
      <add key="Rpc.SearchUrl" value="https://abr.business.gov.au/ABRXMLSearchRPC/ABRXMLSearch.asmx" />
      <add key="Document.SearchUrl" value="https://abr.business.gov.au/ABRXMLSearch/ABRXMLSearch.asmx" />
      <add key="Rpc.SoapAction.AbnSearch" value="http://abr.business.gov.au/ABRXMLSearchRPC/ABRSearchByABN" />
      <add key="Rpc.SoapAction.AsicSearch" value="http://abr.business.gov.au/ABRXMLSearchRPC/ABRSearchByASIC" />
      <add key="Rpc.SoapAction.NameSearch" value="http://abr.business.gov.au/ABRXMLSearchRPC/ABRSearchByName" />
      <add key="Rpc.SoapAction.PostcodeSearch" value="http://abr.business.gov.au/ABRXMLSearchRPC/SearchByPostcode" />
      <add key="Document.SoapAction.AbnSearch" value="http://abr.business.gov.au/ABRXMLSearch/ABRSearchByABN" />
      <add key="Document.SoapAction.AsicSearch" value="http://abr.business.gov.au/ABRXMLSearch/ABRSearchByASIC" />
      <add key="Document.SoapAction.NameSearch" value="http://abr.business.gov.au/ABRXMLSearch/ABRSearchByName" />
      <add key="Document.SoapAction.PostcodeSearch" value="http://abr.business.gov.au/ABRXMLSearch/SearchByPostcode" />
      <add key="ClientSettingsProvider.ServiceUri" value="" />
   </appSettings>
   <system.serviceModel>
      <bindings>
         <basicHttpBinding>
            <binding name="ABRXMLSearchSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
              receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
              bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
              maxBufferSize="524288" maxBufferPoolSize="524288" maxReceivedMessageSize="524288"
              messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
              useDefaultWebProxy="true">
               <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
               <security mode="Transport" />
            </binding>
            <binding name="ABRXMLSearchRPCSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
              receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
              bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
              maxBufferSize="524288" maxBufferPoolSize="524288" maxReceivedMessageSize="524288"
              messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
              useDefaultWebProxy="true">
               <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
               <security mode="Transport" />
            </binding>
            <binding name="ABRXMLSearchRPCSoap1" closeTimeout="00:01:00"
              openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
              allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
              maxBufferSize="524288" maxBufferPoolSize="524288" maxReceivedMessageSize="524288"
              messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
              useDefaultWebProxy="true">
               <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="131072"
                 maxBytesPerRead="4096" maxNameTableCharCount="131072" />
               <security mode="Transport" />
            </binding>
            <binding name="ABRXMLSearchSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
              receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
              bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
              maxBufferSize="524288" maxBufferPoolSize="524288" maxReceivedMessageSize="524288"
              messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
              useDefaultWebProxy="true">
               <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                 maxBytesPerRead="4096" maxNameTableCharCount="16384" />
               <security mode="Transport" />
            </binding>
         </basicHttpBinding>
      </bindings>
      <client>
         <endpoint address="https://abr.business.gov.au/AbrXmlSearch/AbrXmlSearch.asmx"
           binding="basicHttpBinding" bindingConfiguration="ABRXMLSearchSoap"
           contract="ServiceReferenceAbnLookup.ABRXMLSearchSoap" name="ABRXMLSearchSoap" />
         <endpoint address="https://abr.business.gov.au/AbrXmlSearchRpc/AbrXmlSearch.asmx"
           binding="basicHttpBinding" bindingConfiguration="ABRXMLSearchRPCSoap"
           contract="ServiceReferenceAbnLookupRpc.ABRXMLSearchRPCSoap"
           name="ABRXMLSearchRPCSoap" />
      </client>
   </system.serviceModel>
   <system.web>
      <membership defaultProvider="ClientAuthenticationMembershipProvider">
         <providers>
            <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
         </providers>
      </membership>
      <roleManager defaultProvider="ClientRoleProvider" enabled="true">
         <providers>
            <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
         </providers>
      </roleManager>
   </system.web>
</configuration>